<IfModule mod_rewrite.c>

Options +FollowSymLinks
Options -Indexes
RewriteEngine On
RewriteBase /PERSO/MAIL/
RewriteRule ^main\.php$ - [L]

RewriteCond /templates%{REQUEST_URI} !-f
RewriteCond /templates%{REQUEST_URI} !-d
RewriteRule . main.php [L]

</IfModule>