<IfModule mod_rewrite.c>

Options +FollowSymLinks
Options -Indexes
RewriteEngine On
RewriteBase /PERSO/MAIL/
RewriteRule ^main\.php$ - [L]

RewriteCond %{DOCUMENT_ROOT}/templates%{REQUEST_URI} !-f
RewriteRule . main.php [L]

</IfModule>